<template>
  <WpLink :class="{'btn' : button}" :url="data.url" :title="data.title" :target="data.target" :download="download">
    <span v-if="showTitle" class="text" :class="innerClass" v-html="title" />
    <slot />
    <span v-if="button" class="border" />
  </WpLink>
</template>

<script>
import WpLink from '@/components/wpElements/WpLink'

export default {
  name: 'AcfLink',
  components: {
    WpLink
  },
  props: {
    innerClass: '',
    download: {
      type: Boolean,
      default: false
    },
    data: Object,
    showTitle: {
      type: Boolean,
      default: true,
    },
    button: {
      type: Boolean,
      default: false,
    }
  },
  computed: {
    title() {
      let title = ''
      if (this.data.title === '') {
        title = this._('Read more ...')
      } else {
        title = this.data.title
      }
      return title
    }
  }
}
</script>
