<template>
  <figure v-if="image" class="wp-image-vue" :class="classes" :key="image.id">
    <template v-if="background">
      <template v-if="lazy">
        <div class="image item" v-lazy:background-image="imageUrl" :style="'background-position: '+bgPosition" />
        <div
          v-if="placeholderImage !== imageUrl"
          class="image image-placehold"
          v-lazy:background-image="placeholderImage" 
          :style="'background-position: '+bgPosition"
        />
      </template>
      <template v-else>
        <div class="image" :style="'background-image:url(' + imageUrl + '); background-position: '+bgPosition" />
      </template>
    </template>
    <template v-else>
      <img
        :alt="imgAlt"
        v-if="lazy"
        class="image item lazy"
        :src="placeholderImage"
        v-lazy="imageUrl"
      />
      <img
        :alt="imgAlt"
        v-else
        class="image item"
        :src="imageUrl"
      />
    </template>

    <figcaption
      v-if="image && ((image.caption && caption) || (image.title && title))"
      class="description"
    >
      <span v-if="title" class="title">{{ image.title }}</span>
      <span v-if="caption" class="caption">{{ image.caption }}</span>
    </figcaption>
  </figure>
</template>

<script>
import shortid from 'shortid'
// import LazyLoad from 'vanilla-lazyload'

/**
 * Support Sizes:
 * medium  300w
 * large 1024w
 * thumbnail 150w
 * medium_large 768w
 * min 32w
 * extra_large 1920px
 * full - full image size, that was uploaded
 */
export default {
  name: 'WpImage',
  props: {
    url: String,
    alt: String,
/*     delay: {
      // delay for lazy load
      type: Number,
      default: 50
    }, */
    size: {
      type: String,
      default: 'medium_large'
    },
    bgPosition: {
      type: String,
      default: 'center center'
    },
    image: {
      type: Object
    },
    title: {
      default: false,
      type: Boolean
    },
    caption: {
      default: false,
      type: Boolean
    },
    styledCaption: {
      default: false,
      type: Boolean
    },
    lazy: {
      default: true,
      type: Boolean
    },
    background: {
      default: false,
      type: Boolean
    },
    cover: {
      default: false,
      type: Boolean
    },
    prop: {
      default: '16x9',
      type: String
    }
  },
  data() {
    return {
      lazyLoader: null,
      devUrl: '',
      isServer: process.server
    }
  },
  computed: {
    uniqImageClass() {
      return 'image-' + shortid.generate()
    },
    imgAlt() {
      const alt = this.alt
      if (!alt && this.image) {
        return this.image.alt
      }
      return alt
    },
    classes() {
      const custom = [this.uniqImageClass]
      if (this.cover) custom.push('cover')
      if (this.lazy) custom.push('lazy')
      if (this.background) custom.push('background')
      if (!this.background) custom.push('img')
      if (this.styledCaption) custom.push('styled-caption')
      if (this.size) custom.push(this.size)
      return custom.splice(' ')
    },
    placeholderImage() {
      const placehold =
        this.image && this.image.sizes && this.image.sizes.min
          ? this.image.sizes.min.url
          : ''
      let placeholderUrl = this.lazy ? placehold : this.imageUrl
      if (this.devUrl && !placeholderUrl.includes(this.devUrl))
        placeholderUrl = this.devUrl + placeholderUrl

      return placeholderUrl
    },
    imageUrl() {
      const VM = this
      let imageUrl = ''
      if (VM.url && VM.url !== '') {
        imageUrl = VM.url
      } else {
        const size = VM.size || false
        imageUrl = VM.image.url
        if (
          size &&
          typeof VM.image.sizes[size] !== 'undefined' &&
          VM.image.sizes[size]
        ) {
          imageUrl = VM.image.sizes[size].url
        }
      }
      if (VM.devUrl && !imageUrl.includes(VM.devUrl))
        imageUrl = VM.devUrl + imageUrl
      return imageUrl
    }
  },
  mounted() {
    //this.lazyLoaderInit()
  },
  updated() {
    /* this.$nextTick(() => {
      if (this.lazy && this.lazyLoader) {
        this.lazyLoader.update()
      }
    }) */
  },
  beforeDestroy() {
    //this.lazyLoaderDestroy()
  },
  methods: {
    /* lazyLoaderInit() {
      const VM = this
      if (VM.lazy)
        VM.lazyLoader = new LazyLoad({
          elements_selector: '.' + VM.uniqImageClass + ' .item',
          load_delay: VM.delay
        })
    },
    lazyLoaderDestroy() {
      if (this.lazy && this.lazyLoader) this.lazyLoader.destroy()
    } */
  }
}
</script>

<style lang="scss">
@import '@/assets/scss/vars.scss';
@import '@/assets/scss/mixins.scss';
.wp-image-vue {
  margin: 0;
  position: relative;
  overflow: hidden;
  &.background {
    &.styled-caption {
      .description {
        padding: 15px;
        z-index: 20;
        bottom: 0px;
        max-width: 600px;
        line-height: 1.2;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        @include fluid-type($smallResText, $wideResText, 12px, 14px);
        font-style: italic;
        @include mquery($tablet) {
        }
        @include mquery($phone) {
          max-width: 100%;
          padding: 10px;
        }
      }
    }
    div.image {
      width: 100%;
      padding-bottom: 56.4%;
      height: 0;
      background-position: center center;
      z-index: 2;
      position: relative;
    }
    &.lazy div.image {
      transition: opacity 0.15s ease-in-out;
      will-change: opacity;
      &.item{
        opacity: 0;
        &[lazy='loaded'] {
          opacity: 1;
          ~ .image-placehold {
            //opacity: 0;
          }
        }
      }
    }
    div.image-placehold {
      filter: blur(4px);
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      z-index: 1;
    }
    &.cover div.image {
      background-size: cover;
    }
  }
  &.img {
    &.lazy {
      img.image.lazy {
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
        will-change: opacity;
        &[lazy='loaded'] {
          opacity: 1;
        }
      }
    }
  }
}
</style>
