<template>
  <nuxt-link
    v-if="linkType !== 'custom'"
    ref="link"
    :to="linkUrl"
    :class="classname"
    :target="target"
    :title="title"
    :aria-label="title"
    :rel="target === '_blank' ? 'noopener' : ''"
    :exact="exact"
    :download="download"
    preload
  >
    <slot v-if="!descripton" />
    <template v-else>
      <span class="main"><slot /></span>
      <span v-if="descText" class="descr">{{descText}}</span>
    </template>
  </nuxt-link>

  <a
    v-else
    ref="link"
    :href="linkUrl"
    :class="classname"
    :target="target"
    :aria-label="title"
    :rel="target === '_blank' ? 'noopener' : ''"
    :title="title"
    :download="download"
  >
    <slot v-if="!descripton" />
    <template v-else>
      <span class="main"><slot /></span>
      <span class="descr">{{descripton}}</span>
    </template>
  </a>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'WpLink',
  props: ['url', 'title', 'classname', 'target', 'type', 'id', 'download', 'descripton', 'descText'],
  data() {
    return {}
  },
  computed: {
    ...mapGetters({
      homeUrl: 'config/getHomeUrl'
    }),
    exact() {
      if (this.linkUrl === '/') return true
      return false
    },

    linkUrl() {
      if(!this.url) return ''
      let url = this.url.replace(/\/$/, '')
      const homeUrl = this.homeUrl.replace(/\/$/, '')
      // remove home url if link contain it
      // console.log(homeUrl)
      if (url && url !== '' && url.includes(homeUrl)) {
        url = url.replace(homeUrl, '')
      }
      // console.log('b', url)

      return url
    },
    linkType() {
      if(!this.url) return ''
      const url = this.linkUrl
      const pattern = /^((http|https):\/\/)/
      if (!url) {
        console.warn('LINK REQUIRE URL, get: ', url)
        return false
      }
      if (this.type) {
        return this.type
      } else {
        
        if(url.startsWith(this.homeUrl)) return false; //maybe some one just paste link for page  with full url
        if (pattern.test(url) || url.startsWith('#') || url.startsWith('mailto:') || url.startsWith('tel:') || url.startsWith('phone:')) {
          //console.log(url + ' - custom')
          return 'custom'
        }
      }
      return false
    }
  },
  watch: {},
  mounted: function() {},
  methods: {}
}
</script>
