<template>
  <ul
    class="wp-navi-links"
    :class="[{ 'has-active-items': anySubIsActive(menu) }, naviClass]"
  >
    <li
      v-for="(item, i) in menu"
      :key="i"
      class="link-list"
      :class="[
        { 'has-childs': item.children && item.children[0] },
        { 'list-link-active': subIsActive(item.url) }
      ]"
    >
      <WpLink
        :id="item.id"
        :descText="item.description"
        :ref="'menu-link-' + i"
        :url="item.url"
        :title="item.title"
        :classname="item.class + ' link-navi'"
        :target="item.target"
        :type="item.type"
        :descripton="descripton"
      >
        {{ item.title.replace('#038;', '') }}
      </WpLink>
      <WpNaviLinks
        v-if="item.children && item.children[0]"
        :menu="item.children"
        :parent="item.ID"
        :depth="menuDepth"
        :descripton="descripton"
        :class="{ 'has-link-active': subIsActive(item.url) }"
      />
    </li>
  </ul>
</template>

<script>
import WpLink from '@/components/wpElements/WpLink'
import WpNaviLinks from '@/components/wpElements/WpNaviLinks'

import { mapGetters } from 'vuex'

export default {
  name: 'WpNaviLinks',
  components: {
    WpLink,
    WpNaviLinks
  },
  props: {
    descripton: {
      type: Boolean,
      default: false,
    },
    menu: {
      type: [Object, Array],
    },
    parent:{
      type: Number,
      default: 0
    }, 
    depth:{
      type: Number,
      default: 0
    },
  },
  data() {
    return {
      hasActiveChild: false,
      items: [],
      //  observer: [],
      test: false
    }
  },
  computed: {
    ...mapGetters({
      homeUrl: 'config/getHomeUrl'
    }),
    menuDepth() {
      let depth = 1
      if (this.depth) {
        depth = depth + Number(this.depth)
      }
      return depth
    },
    naviClass() {
      let classNames = ''
      if (this.menuDepth === 1) classNames += 'top-level level-1'
      if (this.menuDepth && this.menuDepth !== 1)
        classNames += 'level-' + this.menuDepth
      if (this.parent) {
        classNames += ' has-parent parent-' + this.parent
      }
      return classNames
    }
  },
  watch: {
    hasActiveChild(val) {
      this.$emit('isChanged', val)
    }
  },
  mounted: function() {
    // this.checkAct()
  },
  beforeDestroy() {
    /* this.observer.forEach((obs) => {
      obs.disconnect()
    }) */
  },
  methods: {
    anySubIsActive(menu) {
      const test = []
      const VM = this
      if (menu) {
        menu.forEach((element) => {
          test.push(VM.subIsActive(element.url))
        })
      }
      const test2 = test.some((val) => {
        return val
      })
      return test2
    },
    subIsActive(input) {
      if (
        input === '/' ||
        input === this.homeUrl + '/' ||
        input === this.homeUrl
      )
        return false
      const VM = this
      const paths = Array.isArray(input) ? input : [input]
      const test = paths.some((path) => {
        const url = VM.$route.path.replace(this.homeUrl, '').replace(/\/$/, '')
        const path2 = path.replace(VM.homeUrl, '').replace(/\/$/, '')
        return url.indexOf(path2) === 0 // current path starts with this path string
      })
      // this.$emit('hasActive', test);
      return test
    }
  }
}
</script>
