<template>
  <nav class="menu" :class="'menu-' + location">
    <WpNaviLinks :descripton="descripton" v-if="getMenu(location)" :menu="getMenu(location)" />
    <slot />
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'

import WpNaviLinks from '@/components/wpElements/WpNaviLinks'

export default {
  name: 'WpNavi',
  components: {
    WpNaviLinks
  },
  props: {
    descripton: {
      type: Boolean,
      default: false,
    },
    location: {
      type: String,
      default: 'top-menu'
    }
  },
  data() {
    return {
      hasActiveChild: false
    }
  },
  computed: {
    ...mapGetters({ getMenu: 'menus/getMenu' })
  }
}
</script>
