<template>
  <div class="franczyzna">

    <div v-if="currentPage.acf.banner" class="top-banner">
      <WpImage v-if="currentPage.acf.banner.image" :image="currentPage.acf.banner.image" background cover size="extra_large"  />
      
      <div class="top-info info-block">
        <div class="content-box">
          <h2 v-if="currentPage.acf.banner.big_title" class="section-title righte t-upper righte--60" v-html="currentPage.acf.banner.big_title" />
          <h3 v-if="currentPage.acf.banner.small_title" class="section-title color--red-light righte t-upper righte--36" v-html="currentPage.acf.banner.small_title" />
          <div v-if="currentPage.acf.banner.content" class="special-content roboto t-light roboto--16" v-html="currentPage.acf.banner.content"/>
        </div>
      </div>

      <div v-if="currentPage.acf.section_2" class="info-block bottom-info">
        <div class="content-box">
          <h2 v-if="currentPage.acf.section_2.big_title" class="section-title righte t-upper righte--60" v-html="currentPage.acf.section_2.big_title" />
          <h3 v-if="currentPage.acf.section_2.small_title" class="section-title color--red-light righte t-upper righte--36" v-html="currentPage.acf.section_2.small_title" />
          <div v-if="currentPage.acf.section_2.content" class="special-content roboto t-light roboto--16" v-html="currentPage.acf.section_2.content"/>
        </div>
        <ul v-if="currentPage.acf.section_2.points && currentPage.acf.section_2.points.length" class="bullet-list">
          <li v-for="({point}, k) in currentPage.acf.section_2.points" :key="k">{{point}}</li>
        </ul>
      </div>

    </div>

    <div v-if="currentPage.acf.section_3" class="what-section"> 
      <WpImage v-if="currentPage.acf.section_3.image" :image="currentPage.acf.section_3.image" background cover size="extra_large"  />
      
      <div v-if="currentPage.acf.section_3" class="info-block what-info">
        <div class="content-box">
          <h2 v-if="currentPage.acf.section_3.big_title" class="section-title righte t-upper righte--60" v-html="currentPage.acf.section_3.big_title" />
          <h3 v-if="currentPage.acf.section_3.small_title" class="section-title righte t-upper righte--36" v-html="currentPage.acf.section_3.small_title" />
          <div v-if="currentPage.acf.section_3.content" class="special-content roboto t-light roboto--16" v-html="currentPage.acf.section_3.content"/>
        </div>
        <ul v-if="currentPage.acf.section_3.points && currentPage.acf.section_3.points.length" class="bullet-list">
          <li v-for="({point}, k) in currentPage.acf.section_3.points" :key="k">{{point}}</li>
        </ul>
      </div>
      
      <div class="icon-list">
        <h2 class="righte t-upper righte--36" >Zapewniamy</h2>
      </div>
    </div>

    <div class="details-bottom">
    
    
    </div>

  </div>
</template>

<script>
import WpImage from '@/components/wpElements/WpImage'

export default {
  name: 'franczyzna',
  components: {
    WpImage
  },
  data(){
    return {
      
    }
  }
}
</script>