<template>
  <article class="kimchi">

    <div v-if="currentPage.acf.kimchi" class="section-top-kimchi">
      <WpImage v-if="currentPage.acf.banner_bg" :image="currentPage.acf.banner_bg" background cover size="extra_large"  />
      <div class="top-part">
        <h1 class="titler section-title righte t-upper righte--60" >Kimchi</h1>
        <h2 v-if="currentPage.acf.kimchi.red_title" class="section-title color--red-light righte t-upper righte--36" v-html="currentPage.acf.kimchi.red_title" />
        <div v-if="currentPage.acf.kimchi.description" class="special-content roboto t-light roboto--16" v-html="currentPage.acf.kimchi.description"/>
      </div>
      <div class="second-part">
        <h2 v-if="currentPage.acf.how_eat.red_title" class="section-title color--red-light righte t-upper righte--36" v-html="currentPage.acf.how_eat.red_title" />
        <div v-if="currentPage.acf.how_eat.description" class="special-content roboto t-light roboto--16" v-html="currentPage.acf.how_eat.description"/>
        <AcfLink v-if="currentPage.acf.kimchi_link" :data="currentPage.acf.kimchi_link" />
      </div>
    </div>
    
    <div class="section-offer">
      <WpImage v-if="currentPage.acf.ofer_bg" :image="currentPage.acf.ofer_bg" background cover size="extra_large"  />
      <div class="left-column" v-if="currentPage.acf.left_column">
        <div v-if="currentPage.acf.left_column" class="special-content roboto t-light roboto--16" v-html="currentPage.acf.how_eat.description"/>
      </div>
      <div v-if="currentPage.acf.right_column && currentPage.acf.right_column.points" class="right-column">
        <ul class="point-list">
          <li v-for="(point, k) in currentPage.acf.right_column.points" :key="k">
            <span class="count">{{k}}.</span>
            <div class="info">
              <h4 class="titler">{{point.title}}</h4>
              <div class="info" v-html="point.desc" />
            </div>
          </li>
        </ul>
      </div>
    </div>

  </article>
</template>

<script>
import WpImage from '@/components/wpElements/WpImage'
import AcfLink from '@/components/wpElements/AcfLink'

export default {
  name: 'kimchi',
  components: {
    WpImage,
    AcfLink
  },
  data(){
    return {
      
    }
  }
}
</script>