<template>
  <article class="sushi" v-if="currentPage && currentPage.acf">
    <div v-if="currentPage.acf.banner" class="top-banner">
      <WpImage v-if="currentPage.acf.banner.image" :image="currentPage.acf.banner.image" background cover size="extra_large"  />
      <h1 class="titler section-title righte t-upper righte--60" v-if="currentPage.acf.banner.title" v-html="currentPage.acf.banner.title" />
      <h2 v-if="currentPage.acf.banner.red_text" class="section-title color--red-light righte t-upper righte--36" v-html="currentPage.acf.banner.red_text" />
      <div v-if="currentPage.acf.banner.content" class="special-content roboto t-light roboto--16" v-html="currentPage.acf.banner.content"/>
    </div>
    <div v-if="currentPage.acf.steps" class="steps-list">
      <div v-if="currentPage.acf.steps.title_1" class="step step-1">
        <h3 class="titler section-title righte t-upper righte--60" v-if="currentPage.acf.steps.title_1" v-html="currentPage.acf.steps.title_1" />
        <div v-if="currentPage.acf.steps.content_1" class="special-content roboto t-light roboto--16" v-html="currentPage.acf.steps.content_1"/>
      </div>
      <div v-if="currentPage.acf.steps.title_2" class="step step-2">
        <h3 class="titler section-title righte t-upper righte--60" v-if="currentPage.acf.steps.title_2" v-html="currentPage.acf.steps.title_2" />
        <div v-if="currentPage.acf.steps.content_2" class="special-content roboto t-light roboto--16" v-html="currentPage.acf.steps.content_2"/>
      </div>
      <div v-if="currentPage.acf.steps.title_3" class="step step-3">
        <h3 class="titler section-title righte t-upper righte--60" v-if="currentPage.acf.steps.title_3" v-html="currentPage.acf.steps.title_3" />
        <div v-if="currentPage.acf.steps.content_2" class="special-content roboto t-light roboto--16" v-html="currentPage.acf.steps.content_2"/>
      </div>
    </div>
  </article>
</template>

<script>
import WpImage from '@/components/wpElements/WpImage'

export default {
  name: 'sushi',
  components: {
    WpImage
  },
  data(){
    return {
      
    }
  }
}
</script>