<template>
  <article class="single-recipe">
    <headerRecipe />
    <div class="red-gradient roboto roboto--16 recipe-share">
      <button class="btn-action share">
        <span class="ic"  v-html="shareIcon" />
        <span class="txt">Udostępnij</span> 
      </button>
      <button class="btn-action print">
        <span class="ic" v-html="printerIcon" />
        <span class="txt">Drukuj</span> 
      </button>
    </div>

    <main id="recipe-body" class="post-body container">
      <div v-if="currentPage && currentPage.acf && currentPage.acf['full-description']" class="roboto--18 recipe-long-description html-content" v-html="currentPage.acf['full-description']" />
      
      <div class="preparation-content"> 
        <div class="column ingredients" v-if="currentPage && currentPage.acf && currentPage.acf.ingredients && currentPage.acf.ingredients.length">
          <h2 class="titler-section righte righte--40 t-upper">Składniki</h2>
            <table class="roboto--20 ingredients-info">
              <tbody class="info-list">
                <tr  v-for="(ingr, k) in currentPage.acf.ingredients" :key="k">
                  <td class="t-400 quantity">{{ingr.quantity}}</td>
                  <td class="t-300 ingredient">{{ingr.ingredient.name}}</td>
                  <td class="check">
                    <label>
                      <input type="checkbox" name="shopping-list" />
                      <span v-html="plus" />
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="column preparaton" v-if="currentPage && currentPage.acf && currentPage.acf.preparaton && currentPage.acf.preparaton.length">
          <h2 class="titler-section righte righte--40 t-upper">Przygotowanie</h2>
          <ul class="roboto--20 t-300 preparation-info">
            <li v-for="(info, k) in currentPage.acf.preparaton" :key="k">
                <span class="key">{{k}}</span>
                <div class="html-content desc" v-html="info.step" />
            </li>
          </ul>
        </div>

      </div>
    </main>

  </article>
</template>

<script>
import headerRecipe from '@/components/elements/headerRecipe'
import { handlePageLoad } from '@/helpers/'
import { printer, share, plus } from '@/helpers/icons'

export default {
  async fetch({ store, params, error, route }) {
    const loadParams = {
      slug: params.slug,
      postType: 'recipe',
    }
    await handlePageLoad(store, route, error, loadParams)
  },
  data(){
    return {
      printerIcon: printer(),
      shareIcon: share(),
      plus: plus()
    }
  },
  components: {
    headerRecipe
  }
}
</script>

<style lang="scss">
@import '@/assets/scss/vars.scss';
@import '@/assets/scss/mixins.scss';

.single-recipe{
  .post-body{
    .recipe-long-description{
      max-width: 800px;
      margin-top: 40px;
    }
    .preparation-content{
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;
      .column{
        width: 100%;
        max-width: 50%;
        &:first-child{
          padding-right: 20px;
        }
        &:last-child{
          padding-left: 20px;
        }
      }
      .titler-section{
        margin-bottom: 20px;
      }
    }

    .preparation-info{
      li{
        padding-bottom: 14px;
        padding-top: 14px;
        border-bottom: 1px solid $smoke; 
        display: flex;
        &:first-child{
          padding-top: 0px;
        }
        .key{
          text-align: center;
          display: flex;
          line-height: 30px;
          justify-content: center;
          align-items: center;
          font-weight: 400;
          color: #fff;
          display: block;
          background: $red;
          max-width: 30px;
          min-width: 30px;
          max-height: 30px;
          min-height: 30px;
          border-radius: 30px;
          background: linear-gradient(145deg, $red 0%, $redLight 100%);
        }
        .desc{
          margin-left: 30px;
        }
      }
    }
    .ingredients-info{
      border-collapse: collapse;
      border-spacing: 0;
      td{
        padding-bottom: 14px;
        padding-top: 14px;
        border-bottom: 1px solid $smoke; 
      }
      .quantity{
        padding-right: 30px;
        white-space: nowrap;
      }
      .ingredient{
        width: 100%
      }
      .check{
        padding:0;
        width: 30px;
        label{
          display: block;
        }
        span{
          display: flex;
          position: relative;
          width: 30px;
          height: 30px;
          border-radius: 30px;
          background: $smoke;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: background 0.2s ease-in-out;
          &:hover{
            background: $red;
            background: linear-gradient(145deg, rgba($red, 0.7) 0%, rgba($redLight, 0.7) 100%);
          }
        }
        svg{
          width: 12px;
          height: 12px;
          margin: auto;
          path{
            fill: #fff;
          }
        }
        input{
          display: none;
          &:checked{
            ~ span{
              background: $red;
              background: linear-gradient(145deg, $red 0%, $redLight 100%);
            }
          }
        }
      }
    }
  }
  .recipe-share{
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    .btn-action{
      background-color: transparent;
      border: none;
      color: #fff;
      box-shadow: none;
      padding: 22px 30px;
      display: flex;
      border-radius: 0;
      cursor: pointer;
      align-items: center;
      transition: background-color 0.15s ease-in-out;
      &:hover{
        border: none;
        background-color: rgba(15, 15, 15, 0.16);
      }
      .txt{
        display: inline-block;
        margin-left: 22px;
      }
      svg{
        height: 25px;
        width: 25px;
      }
    }
  }
}
</style>
