<template>
  <div class="container recipes-archive" keep-alive>
    <ul v-if="posts" class="recipes-list">
      <li class="recipe-item" v-for="(post, k) in posts" :key="k">
        <RecipeListBlock :data="post" />
      </li>
    </ul>
  </div>
</template>

<script>
import WpLink from '@/components/wpElements/WpLink'
import RecipeListBlock from '@/components/blocks/RecipeListBlock'

import { handlePageLoad, trimLink } from '@/helpers/'
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {
    WpLink,
    RecipeListBlock
  },
  data() {
    return {
        posts: {}
      }
  },
  /* activated() {
      // Call fetch again if last fetch more than 30 sec ago
      if (this.$fetchState.timestamp <= Date.now() - 30000) {
        this.$fetch()
      }
  }, */
  async asyncData({ store, params, error, route }) {
    
    let slug = trimLink(route.path)
    const loadParams = {
      slug: slug,
      postType: 'page',
    }
    await handlePageLoad(store, route, error, loadParams)


    const opt = {
        type: 'recipe',
        limit: 16
    }
    const posts = await store.dispatch('pages/fetchPages', opt)
    return { posts: posts.posts }
  },
  methods:{
    ...mapActions({
        fetchPages: 'pages/fetchPages'
      }),
  },

}
</script>

<style lang="scss">
.recipes-archive{
  margin-top: 50px;
  margin-bottom: 50px;
  .recipes-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    .recipe-item{
      width: 100%;
      max-width: 25%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
</style>
