@import '@/assets/scss/mixins.scss';
@import '@/assets/scss/vars.scss';

.red-line{
  background: $red;
  height: 7px;
  border-radius: 10px;
  @extend .red-gradient;
}


.red-gradient{
  background: $red;
  background: linear-gradient(145deg, $red 0%, $redLight 100%);
}

.color{
  &--red{
    color: $red
  }
  &--red-light{
    color: $redLight
  }
}

.righte{
  font-family: $secndaryFont;
  &--14{
    @include fluid-type($smallResText, $wideResText, 11px, 14px);
  }
  &--60{
    @include fluid-type($smallResText, $wideResText, 30px, 60px);
  }
  &--50{
    @include fluid-type($smallResText, $wideResText, 26px, 50px);
  }
  &--40{
    @include fluid-type($smallResText, $wideResText, 22px, 40px);
  }
  &--36{
    @include fluid-type($smallResText, $wideResText, 21px, 36px);
  }
  &--30{
    @include fluid-type($smallResText, $wideResText, 18px, 30px);
  }
  &--22{
    @include fluid-type($smallResText, $wideResText, 16px, 22px);
  }
  &--16{
    @include fluid-type($smallResText, $wideResText, 14px, 16px);
  }
}

.roboto{
  font-family: $mainFont;
  &--14{
    @include fluid-type($smallResText, $wideResText, 11px, 14px);
  }
  &--16{
    @include fluid-type($smallResText, $wideResText, 14px, 16px);
  }
  &--18{
    @include fluid-type($smallResText, $wideResText, 16px, 18px);
  }
  &--20{
    @include fluid-type($smallResText, $wideResText, 18px, 20px);
  }
}

.t-300, .t-light{
  font-weight: 300;
}
.t-400, .t-regular{
  font-weight: 400;
}
.t-500, .t-medium{
  font-weight: 500;
}
.t-600, .t-semiBold{
  font-weight: 600;
}
.t-700, .t-bold{
  font-weight: 700;
}
.t-900, .t-extra-bold{
  font-weight: 900;
}

.t-center{
  text-align: center;
}

.t-upper, .t-uppercase{
  text-transform: uppercase;
}

.t-low{
  text-transform: lowercase;
}
.t-cap{
  text-transform: capitalize;
}

.t-italic{
  font-style: italic;
}
.t-normal{
  font-style: normal;
}