@import '@/assets/scss/mixins.scss';
@import '@/assets/scss/vars.scss';
@import '@/assets/scss/reset.scss';

body, html, #__nuxt, #__layout{
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
}
#__layout{
  display: flex;
  flex-direction: row;
  width: 100%;
}
#main{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container{
  max-width: $container;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  @include mquery($phone){
    padding: 15px;
  }
}

/*----------------------------- */
/*        TYPOGRAPHY
/*-----------------------------*/

html{
  font-size: 16px;
  font-family: $mainFont;
  @include font-smoothing;
}

a {
  color: inherit;
  text-decoration: none;
}

.special-content{
  line-height: 1.15;
  b{
    font-weight: inherit;
    font-size: 120%;
  }
}

.btn{
  font-family: $secndaryFont;
  display: inline-block;
  position: relative;
  padding: 10px 34px 12px;
  .text{
    position: relative;
    z-index: 5;
    line-height: 1;
  }
  .border{
    &:after, &:before{
      content: '';
      border-radius: 10px;
      position: absolute;
    }
    &:before{
      z-index: 2;
      left: 2px;
      right: 2px;
      bottom: 2px;
      top: 2px;
      background: $dark;
    }
    &:after{
      background: $red;
      background: linear-gradient(145deg, $red 0%, $redLight 100%);
      z-index: 1;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
}

.post-body{
  margin-bottom: 50px;
}