/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
  or object-fit and object-position:
  @include object-fit(cover, top);
  https://github.com/bfred-it/object-fit-images
*/
@mixin transition($properties, $duration: 250ms, $easing: ease-in-out, $delay: 0){
  transition-property: $properties;
  transition-duration: $duration;
  transition-timing-function: $easing;
  transition-delay: $delay;
}

@mixin object-fit($fit: fill, $position: null){
  -o-object-fit: $fit;
     object-fit: $fit;
  @if $position {
      -o-object-position: $position;
         object-position: $position;
      font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
      font-family: 'object-fit: #{$fit}';
  }
}


@mixin font-smoothing($value: on) {
  @if $value == on {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  @else {
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: auto;
  }
}

@mixin clearfix() {
  content: "";
  display: table;
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}


@mixin mquery($width, $ratio: false) {
  @if $ratio {
      @media
          only screen and (max-width: $width) and  (min--moz-device-pixel-ratio: $ratio),
          only screen and (max-width: $width) and  (-webkit-min-device-pixel-ratio: $ratio),
          only screen and (max-width: $width) and  (min-device-pixel-ratio: $ratio) {
          @content;
      }
  } @else {
      @media only screen and (max-width: $width) {
          @content;
      }
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);
  @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
      & {
          font-size: $min-font-size;
          @media screen and (min-width: $min-vw) {
              font-size: calc( #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
          }
          @media screen and (min-width: $max-vw) {
              font-size: $max-font-size;
          }
      }
  }
}
