@import '@/assets/scss/mixins.scss';


$secndaryFont: 'Righteous', cursive;
$mainFont: 'Roboto', sans-serif;
$japanFont: 'Noto Sans JP', sans-serif;
// COLORS
$dark: #0a0a0a;
$red: #811416;
$gray: #1F1F1F;
$redLight: #E62D2F; 
$light: #F7F7F7;
$smoke: #DFDFDF;

$container: 1300px;
$wideResText: 1400px;
$smallResText: 360px;


$tablet: 1024px;
$phone: 768px;