<template>
  <div v-if="currentPage && currentPage.acf" class="recipe-video-header">
    <WpImage v-if="currentPage.acf.featured_image" :image="currentPage.acf.featured_image" background cover size="extra_large"  />
    <div class="container">
      <div class="column column-info">
        <h1 class="t-upper post-title righte righte--50" id="post-title">{{currentPage.title}}</h1>
        <div v-if="currentPage.acf.category && currentPage.acf.category.name" class="t-upper color--red-light righte righte--40 recipe-category">{{currentPage.acf.category.name}}</div>
        <recipeCookingInfo :data="currentPage" />
        <div class="red-line"></div>
        <div v-if="currentPage.acf.excerpt" class="short-description html-content" v-html="currentPage.acf.excerpt" />
      </div>
      
      <div class="column column-play">
        <button class="play-button" aria-label="Odtwórz wideo" @click="playVideo" v-html="playButton"></button>
      </div>
    </div>

    <simplePopup v-if="isClickedPopup" @close="closingPopup" :show="showPopup">
      <template>
        <youtube :video-id="videoId" @playing="isPlaying = true" ref="youtube"></youtube>
      </template>
    </simplePopup>
  </div>
</template>

<script>
import WpImage from '@/components/wpElements/WpImage'
import simplePopup from '@/components/elements/simplePopup'
import RecipeCookingInfo from '@/components/elements/RecipeCookingInfo'
import { playButton } from '@/helpers/icons'
import { getSrcFromString } from '@/helpers'

export default {
  components: {
    WpImage,
    RecipeCookingInfo,
    simplePopup
  },
  data(){
    return {
      playButton: playButton(),
      videoId: '',
      showPopup: false,
      isPlaying: false,
      isClickedPopup: false,
    }
  },
  created(){
    const videoUrl = getSrcFromString(this.currentPage.acf.video)
    if(videoUrl && !this.videoId){
      this.methodYT(videoUrl)
    }
  },
  computed: {
    player() {
      return this.$refs.youtube.player
    }
  },
  methods:{
    closingPopup(){
      if(!this.videoId) return
      this.showPopup = false;
      if(this.isPlaying){
        this.player.pauseVideo()
      }
    },
    methodYT(url) {
      this.videoId = this.$youtube.getIdFromUrl(url)
    },
    playVideo() {
      if(!this.videoId) return
      if(!this.isClickedPopup) this.isClickedPopup = true
      this.showPopup = !this.showPopup
      this.$nextTick(()=>{
        setTimeout(()=>{
          if(this.player){
            this.player.playVideo()
          }else{
            console.warn('Player not found')
          }
          //delay because I want to start paly after popup fully appear
        }, 200)
      })
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/scss/vars.scss';
@import '@/assets/scss/mixins.scss';

.recipe-video-header{
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  min-height: 700px;
  @include mquery($tablet){
    min-height: 550px;
  }
  @include mquery($phone){
    min-height: 350px;
  }
  .short-description{
    margin-top: 20px;
    color: #fff;
    @include fluid-type($smallResText, $wideResText, 16px, 20px);
  }
  .modal-body{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    min-width: 80vw;
    max-width: 80vw;
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
  .play-button{
    border: none;
    appearance: none;
    cursor: pointer;
    box-shadow: none;
    background: transparent;
    position: relative;
    width: 153px;
    height: 81px;
    padding: 20px;
    margin: auto;
    svg{
      position: relative;
      z-index: 3;
      max-width: 100%;
      max-height: 100%;
      path{
        fill: #fff;
      }
    }
    &:after{
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      position: absolute;
      background: $red;
      background: linear-gradient(145deg, $red 0%, $redLight 100%);
      border-radius: 10px;
      opacity: 0.8;
      transition: opacity 0.2s ease-in-out;
      will-change: opacity;
    }
    &:hover{
      &:after{
        opacity: 0.9;
      }
    }
  }
  .column-play{
    display: flex;
  }
  .red-line{
    max-width: 145px;
  }
  .column-info{
      border-radius: 10px;
      background-color: rgba($gray, 0.74);
      padding: 45px 35px;
      .post-title{
        color: #fff;
        line-height: 1.2;
      }
  }
  .wp-image-vue{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 5;
    &:after{
      background-color: rgba($gray, 0.6);
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 4;
    }
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
    .column{
      width: 100%;
      max-width: 50%;
    }
  }
}
</style>