<template>
  <section v-if="data" class="slide-item">
    <WpImage v-if="data.image" :image="data.image" background cover size="extra_large"  />
    <div class="inner">
      <h2 class="section-title righte t-upper righte--60" v-if="data.big_title" v-html="data.big_title" />
      <h3 class="small-title righte t-upper righte--30" v-if="data.small_title" v-html="data.small_title" />
      <div class="red-line" />
      <p class="roboto description-upper" v-if="data.content" v-html="data.content" />
      <p class="roboto description-low" v-if="data.content_bottom" v-html="data.content_bottom" />
      <AcfLink button :data="data.link"  v-if="data.link && data.link.url"/>
    </div>
    <div class="border-bottom red-gradient" />
    <div class="overlay" />
  </section>
</template>


<script>
import WpImage from '@/components/wpElements/WpImage'
import AcfLink from '@/components/wpElements/AcfLink'

export default {
  props: {
    data:{
      type: Object
    },
    isHovered: {
      type: Boolean,
      default: false
    }
  },
  components: {
    WpImage,
    AcfLink
  },
}
</script>