<template>
  <div v-if="data && data.acf" class="roboto roboto--18 recipe-cooking-info">
    <div class="icon-block cooking-time" title="Czas przygotowania">
      <span v-html="cookingClock" />
      <span class="info">{{data.acf.preparation_time}} min.</span>
    </div>
    <div class="icon-block cooking-difficulity" title="Posiom trudności">
      <span v-html="cookingPot" />
      <span class="info">{{data.acf.difficulity.name}}</span>
    </div>
    <div class="icon-block portions" title="Ilość porcji">
      <span v-html="iconPortions" />
      <span class="info">{{data.acf.portions}} os.</span>
    </div>
  </div>
</template>

<script>
import { portions, cookingPot, cookingClock } from '@/helpers/icons'

export default {
  props: {
    data:{
      type: Object
    },
  },
  components: {
  },
  data(){
    return {
      iconPortions: portions(),
      cookingPot: cookingPot(),
      cookingClock: cookingClock()
    }
  }
}
</script>

<style lang="scss" >
@import '@/assets/scss/vars.scss';
@import '@/assets/scss/mixins.scss';

.recipe-cooking-info{
  display: flex;
  flex-wrap: wrap;
  background-color: $light;
  padding: 17px 30px;
  border-radius: 10px;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 35px;
  .cooking-time, .cooking-difficulity{
    
  }
  .icon-block{
    display: flex;
    align-items: center;
    .info{
      display: inline-block;
      margin-left: 10px;
      @include fluid-type($smallResText, $wideResText, 16px, 20px);
    }
    svg{
      width: 40px;
      height: 40px;
    }
  }
}
</style>