<template>
<transition name="fade">
  <div @click="closeEmmit" class="modal-mask" v-show="show">
    <div  class="popup modal-wrapper">
      <div class="modal-body">
        <slot>
          default body
        </slot>
      </div>
    </div>
  </div>
</transition>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false,
    }
  },
  data(){
    return {
    }
  },
  methods:{
    closeEmmit(){
      this.$emit('close')
    }
  }
}
</script>

<style lang="scss">
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
  cursor: pointer;
  display: flex;
  .modal-wrapper{
    margin: auto;
    position: relative;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>