<template>
  <div id="main" class="default page-layout">
  	<transition name="opacity" >
      <AdminBar v-if="isLoggedIn || isDev" />
  	</transition>

    <ThemeHeader />

    <nuxt />

    <ThemeFooter />

  </div>
</template>

<script>

import { mapGetters } from 'vuex'
//AdminBar: () => import('@/components/wpElements/AdminBar'),
import ThemeFooter from '@/components/parts/ThemeFooter'
import ThemeHeader from '@/components/parts/ThemeHeader'
import AdminBar from '@/components/wpElements/AdminBar'

export default {
  data() {
    return {
      isDev : process.env.NODE_ENV === 'development',
    }
  },
  components: {
    AdminBar,
    ThemeHeader,
    ThemeFooter
  },
  computed: {
    ...mapGetters({
      isLoggedIn: 'auth/isLoggedIn',
      getConfig: 'config/getConfig',
      //bodyClasses: 'bodyClasses',
      isPopupOn: 'isPopupOn',
    }),
  }
}
</script>

