<template>
  <main class="page-content">
   <Franczyzna v-if="currentPage && currentPage.template && currentPage.template === 'franczyzna'" />
   <Kimchi v-if="currentPage && currentPage.template && currentPage.template === 'kimchi'" />
   <Sushi v-if="currentPage && currentPage.template && currentPage.template === 'sushi'" />
   
  </main>
</template>

<script>
import Franczyzna from '@/components/wpTemplates/Franczyzna'
import Kimchi from '@/components/wpTemplates/Kimchi'
import Sushi from '@/components/wpTemplates/Sushi'

import { handlePageLoad } from '@/helpers/'

export default {
  async asyncData({ store, params, error, route }) {
    let slug = params.pathMatch.split('/')
    slug = slug.filter(e => e !== '')
    slug = slug[slug.length-1]
    
    const loadParams = {
      slug: slug,
      postType: 'page',
    }
    await handlePageLoad(store, route, error, loadParams).then(e=>{
      return e
    })
  },
  components: {
    Franczyzna,
    Sushi,
    Kimchi
  }
}
</script>

<style>

</style>
