<template>
  <div class="front-page" v-if="currentPage">
    <homeSectionArea 
      @mouseover.native="hoverOver(1)" 
      @mouseleave.native="hoverLeave(1)"
      :class="displayClass(1)"
      class="first-item"
      v-if="currentPage.acf.section_1"
      :data="currentPage.acf.section_1"
    />
    <homeSectionArea 
      @mouseover.native="hoverOver(2)" 
      @mouseleave.native="hoverLeave(2)"
      :class="displayClass(2)"
      class="second-item"
      v-if="currentPage.acf.section_2"
      :data="currentPage.acf.section_2"
    />
    <homeSectionArea 
      @mouseover.native="hoverOver(3)" 
      @mouseleave.native="hoverLeave(3)"
      :class="displayClass(3)"
      class="third-item"
      v-if="currentPage.acf.section_3"
      :data="currentPage.acf.section_3"
    />
  </div>
</template>

<script>
import homeSectionArea from '@/components/elements/homeSectionArea'

import { handlePageLoad } from '@/helpers/'

export default {
  async asyncData({ store, params, error, route }) {
    const loadParams = {
      slug: '',
      postType: 'page',
    }
    await handlePageLoad(store, route, error, loadParams).then(e=>{
      return e
    })
  },
  data(){
    return {
      hoveredItem: 0
    }
  },
  components: {
    homeSectionArea,
  },
  methods:{
    displayClass(i){
      let classes = [];
      if(this.hoveredItem === i) classes.push('hovered')
      else if(this.hoveredItem !== 0) classes.push('not-hovered')
      return classes.join(' ')
    },
     hoverOver(i) {
       this.hoveredItem = i
    },
    hoverLeave(e){
       this.hoveredItem = 0
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/scss/vars.scss';
@import '@/assets/scss/mixins.scss';

.front-page{
  display: flex;
  flex: 1 0 auto;
  background: $dark;
  ~ .theme-footer{
    display: none;
  }
  .slide-item{
    width: 100%;
    max-width: 33.33%;
    cursor: pointer;
    position: relative;
    transition: max-width 0.35s ease-in-out;
    will-change: max-width;
    overflow: hidden;
    &.first-item{
      .wp-image-vue div.image{
        background-position: center left !important;
      }
    }
    &.second-item{

    }
    &.third-item{
      .wp-image-vue div.image{
        background-position: center right !important;
      }
    }
    &.hovered{
      z-index: 5;
      max-width: 60%;
      @include mquery(1400px){
        max-width: 80%;
      }
      .inner{
        top: 50%;
        transform: translateY(-50%);
        .description-low, .btn{
          opacity: 1;
        }
      }
      .border-bottom{
        opacity: 1;
      }


    }
    &.not-hovered{
      z-index: 1;
      max-width: 20%;
      @include mquery(1400px){
        max-width: 10%;
      }
      div.image{
        filter: grayscale(100%);
      }
      .inner{
        opacity: 0;
      }
    }
    .border-bottom{
      z-index: 6;
      height: 10px;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      will-change: opacity;
    }
    .btn{
      margin-top: 40px;
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
      will-change: opacity;
    }
    .overlay{
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(45deg, rgba(10,10,10,1) 0%, rgba(0,0,0,0) 69%);
    }
    .inner{
      position: absolute;
      color: #fff;
      top: 60%;
      z-index: 10;
      padding: 50px;
      max-width: 530px;
      transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
      will-change: opacity;
      will-change: opacity, transform;
      .description-upper{
        font-size: 110%;
      }
      .section-title{
        margin-top: 0;
        line-height: 1.2
      }
      .description-low{
        margin-top: 25px;
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        will-change: opacity;
      }
      .small-title{
        line-height: 1.2
      }
      .red-line{
        margin-top: 30px;
        margin-bottom: 20px;
        max-width: 145px;
      }
    }
    .wp-image-vue{
      height: 100%;
      div.image{
        padding-bottom: 0;
        height: 100%;
        transition: filter 0.15s ease-in-out;
        will-change: filter;
      }
    }
  }
}
</style>
