<template>
  <div class="container">
    Please wait ...
  </div>
</template>

<script>
export default {
  layout: 'wpLoginRedirect',
  asyncData({ req, redirect, app, res }) {
    //const homeUrl = process.server ? req.headers.host : app.store.getters['config/homeUrl']
    if (process.server) {
      if (req.body && req.body.action === 'set_cookies') {
        /**
         * https://developer.wordpress.org/reference/functions/wp_set_auth_cookie/
         */
        if (req.body.cookies && req.body.cookies[0] && req.body.cookies[1]) {
          const authMAxAge =
            req.body.cookies[0].expire != '0'
              ? req.body.cookies[0].expire
              : 60 * 60 * 24 * 2
          app.$cookies.set('cookie-auth', req.body.cookies[0].cookie, {
            path: '/',
            maxAge: authMAxAge
          })
          
          const loggedInMaxAge =
            req.body.cookies[0].expire != '0'
              ? req.body.cookies[0].expire
              : 60 * 60 * 24 * 2
          app.$cookies.set('cookie-logged_in', req.body.cookies[1].cookie, {
            path: '/',
            maxAge: loggedInMaxAge
          })
        }
        if (req.body.redirect_to) {
          //setTimeout(e=>{
            redirect(302, req.body.redirect_to)
          //}, 100)
        }else{
          // if we dont use thoess in else, we will run into issue cant set headers after they are sent to the client
            redirect(302, req.body.redirect_to)
        }
      }else{
        redirect(302, 'https://backend.jirosan.pl/wp-admin?type=no-body')
      }
    }else{
      redirect(302, 'https://backend.jirosan.pl/wp-admin')

    }
    redirect(302, 'https://backend.jirosan.pl/wp-admin')
  }
}
</script>

<style lang="scss"></style>
