<template>
  <div class="maintenance-page">
    <div class="bg-splash"></div>
    <img title="Jirosan logo" alt="Jirosan logo" src="@/assets/images/logo.png" />
    <p> Strona Tymczasowo niedostępna, zapraszamy na <a target="_blank" href="https://www.facebook.com/jirosanpl/">Facebook</a></p>
  </div>
</template>


<script>
import { mapGetters } from 'vuex'

export default {
  layout: 'maintenance',
  name: 'maintenance',
  head () {
    return {
      title: 'Jirosan - Wracamy wkrótce'
    }
  },
  computed: {
    ...mapGetters({
      isLoggedIn: 'auth/isLoggedIn',
    }),
  },
  watch:{
    isLoggedIn(status){
      if(status){
        this.$store.dispatch('unlockMaintenance')
        this.$router.push('/')
      }
    }
  }
}
</script>

<style lang="scss" >
.maintenance-page{
   font-family: 'Righteous', cursive;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0A0A0A;
    color: #fff;
    text-align: center;
    font-size: 34px;
    a{color: #fff;}
    img,p{
      position: relative;
      z-index: 10;
    }
    p{
      margin-top: 50px;
    }
    a:hover{
      color: red;
    }
    .bg-splash{
      background-image: url('~assets/images/bg_spalash.jpg');
      background-size: cover;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.2
    }
}
</style>