<template>
  <footer id="theme-footer" class="theme-footer roboto--16">
    <div class="container container-footer">
      <wpNavi class="t-bold" location="footer-menu" />
      <div class="red-line" />
      <div class="footer-bottom" v-if="pageLogo">
        <div class="foot-cool logo">
          <nuxt-link to="/"><img :src="pageLogo.url" /></nuxt-link>
        </div>
        <div class="foot-cool info">
          <ul v-if="footerData && footerData.kontakt && footerData.kontakt.length" class="footer-contact"> 
            <template v-for="(co, i) in footerData.kontakt" >
              <li v-if="co.use_email" class="cti-tem email" :key="i">
                <span v-if="co.text" class="info">{{co.text}}</span>
                <a class="t-bold email item" :href="'mailto:'+co.email">{{co.email}}</a>
              </li>
              <li v-else class="cti-tem phone" :key="i">
                <span v-if="co.text" class="info">{{co.text}}</span>
                <a class="t-bold phone item" :href="'tel:'+co.phone.phoneFormat()">{{co.phone}}</a>
              </li>
            </template>
          </ul>
          </div>
      </div>
    </div>
  </footer>
</template>


<script>
import WpNavi from '@/components/wpElements/WpNavi'
import AcfLink from '@/components/wpElements/AcfLink'

import { mapGetters, mapMutations } from 'vuex'

export default {
  name: 'page-footer',
  components: {
    WpNavi,
    AcfLink
  },
  data(){
    return {}
  },
  computed: {
    ...mapGetters({
      getOption: 'config/getOption',
      isPopupOn: 'isPopupOn'
    }),
    footerData(){
      return this.getOption('stopka')
    },
    pageLogo(){
      return this.getOption('logo_stopka')
    },
    socialLnks(){
      return this.getOption('social_media')
    }
  },
}
</script> 

<style lang="scss">
  @import '@/assets/scss/vars';
  .theme-footer{
    background-color: $dark;
    padding: 70px 0;
    color: #fff;
    .red-line{
      margin-top: 25px;
      margin-bottom: 25px;
      max-width: 145px;
    }
    a{
      color: inherit;
      display: inline-block;
      text-decoration: none;
    }
    .footer-bottom{
      display: flex;
      flex-wrap: wrap;
      .foot-cool{
        width: 100%;
        max-width: 50%;
        &.info{
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    .wp-navi-links{
      display: flex;
      margin-left: -15px;
      margin-right: -15px;
      li{
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
</style>