<template>
  <header id="theme-header" class="page-header">
    <div class="container inner-head">
      <wpNavi :descripton="true" location="top-menu" class="t-bold roboto--16" />
      <div class="theme-logo" v-if="pageLogo">
        <nuxt-link to="/"><img :src="pageLogo.url" /></nuxt-link>
      </div>
      <div v-if="socialLnks" class="social-links">
        <div class="item">
          <a target="_blank" class="social fb" rel="nofollow noreferrer" v-if="socialLnks.facebook" :href="socialLnks.facebook"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="512" height="512"><defs/><path d="M288 176v-64c0-17.664 14.336-32 32-32h32V0h-64c-53.024 0-96 42.976-96 96v80h-64v80h64v256h96V256h64l32-80h-96z"  fill="#FFF"/></svg></a>
          <span class="border" />
        </div>
        <div class="item">
          <a target="_blank" class="social insta" rel="nofollow noreferrer" v-if="socialLnks.instagram" :href="socialLnks.instagram"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="512" height="512"><defs/><path d="M352 0H160C71.648 0 0 71.648 0 160v192c0 88.352 71.648 160 160 160h192c88.352 0 160-71.648 160-160V160C512 71.648 440.352 0 352 0zm112 352c0 61.76-50.24 112-112 112H160c-61.76 0-112-50.24-112-112V160C48 98.24 98.24 48 160 48h192c61.76 0 112 50.24 112 112v192z"  fill="#FFF"/><path d="M256 128c-70.688 0-128 57.312-128 128s57.312 128 128 128 128-57.312 128-128-57.312-128-128-128zm0 208c-44.096 0-80-35.904-80-80 0-44.128 35.904-80 80-80s80 35.872 80 80c0 44.096-35.904 80-80 80z"  fill="#FFF"/><circle cx="393.6" cy="118.4" r="17.056"  fill="#FFF"/></svg></a>
          <span class="border" />
        </div>
        <div class="item">
          <a target="_blank" class="social yt" rel="nofollow noreferrer" v-if="socialLnks.youtube" :href="socialLnks.youtube"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="512" height="512"><defs/><path d="M490.24 113.92c-13.888-24.704-28.96-29.248-59.648-30.976C399.936 80.864 322.848 80 256.064 80c-66.912 0-144.032.864-174.656 2.912-30.624 1.76-45.728 6.272-59.744 31.008C7.36 138.592 0 181.088 0 255.904v.256c0 74.496 7.36 117.312 21.664 141.728 14.016 24.704 29.088 29.184 59.712 31.264C112.032 430.944 189.152 432 256.064 432c66.784 0 143.872-1.056 174.56-2.816 30.688-2.08 45.76-6.56 59.648-31.264C504.704 373.504 512 330.688 512 256.192v-.16-.096c0-74.848-7.296-117.344-21.76-142.016zM192 352V160l160 96-160 96z"  fill="#FFF"/></svg></a>
          <span class="border" />
        </div>
      </div>
    </div>
  </header>
</template>

<script> 
import WpNavi from '@/components/wpElements/WpNavi'
import AcfLink from '@/components/wpElements/AcfLink'

import { mapGetters, mapMutations } from 'vuex'

export default {
  name: 'page-header',
  components: {
    WpNavi,
    AcfLink
  },
  data(){
    return {}
  },
  computed: {
    ...mapGetters({
      getOption: 'config/getOption',
      isPopupOn: 'isPopupOn'
    }),
    pageLogo(){
      return this.getOption('logo_top')
    },
    socialLnks(){
      return this.getOption('social_media')
    }
  },
  watch: {
    '$route': function(){
      if(this.sideMenuOpen) {
        this.sideMenuOpen = false
        if(this.isPopupOn){
          this.SET_POPUP_STATE(false)
        }
      }
    }
  },
}
</script> 

<style lang="scss">
  @import '@/assets/scss/vars';

  .page-header{
    background-color: $dark;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    .theme-logo{
      flex: 1 0 auto;
      margin-left: 30px;
      margin-right: 30px;
      text-align: center;
      a{
        display: inline-block
      }
    }
    .menu-top-menu {
      margin-left: -15px;
      margin-right: -15px;
      .main, .descr{
        text-align: center;
        display: block;
      }
      .descr{
        background: linear-gradient(145deg, $red 0%, $redLight 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .wp-navi-links {
        display: flex;
        li{
          padding-left: 15px;
          padding-right: 15px;
        }
        a{
          display: inline-block;
          transition: color 0.2s ease-in-out;
          &:hover{
            color: $red;
          }
        }
      }
    }
    .social-links{
      display: flex;
      margin-left: -10px;
      margin-right: -10px;
      .item{
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
      }
      .border{
        &:after, &:before{
          content: '';
          border-radius: 50%;
          background: $red;
          position: absolute;
        }

        &:before{
          z-index: 2;
          width: 36px;
          height: 36px;
          left: 12px;
          top: 2px;
          background: $dark;
        }

        &:after{
          background: $red;
          background: linear-gradient(145deg, $red 0%, $redLight 100%);
          z-index: 1;
          width: 40px;
          height: 40px;
          left: 10px;
          top: 0;
        }
      }
      a{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        z-index: 5;
      }
      svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 18px;
        width: 18px;
      }
    }
    .inner-head{
      display: flex;
      align-items: center;
    }
  }
</style>