<template>
  <article v-if="data && data.id && data.acf" class="recipe recipe-list-block">
    <WpLink :url="data.link" :title="data.title" class="inner">
      <WpImage v-if="data.acf.featured_image" :image="data.acf.featured_image" background cover size="medium"  />
      <div class="info-box">
        <h3 class="t-upper righte righte--22 post-title">{{data.title}}</h3>
        <div v-if="data.acf.category && data.acf.category.name" class="t-upper t-900 color--red-light righte righte--16 recipe-category">{{data.acf.category.name}}</div>
      </div>
    </WpLink>
  </article>
</template>


<script>
import WpLink from '@/components/wpElements/WpLink'
import WpImage from '@/components/wpElements/WpImage'


export default {
  components: {
    WpLink,
    WpImage
  },
  props:{
    data:{
      default: {},
      type: Object
    }
  }
}
</script>

<style lang="scss">
@import '@/assets/scss/vars.scss';
@import '@/assets/scss/mixins.scss';

.recipe-list-block{
  .inner{
    display: block;
    &:hover{
      .info-box{
        background-color: $smoke;
      }
    }
    .info-box{
      background-color: $light;
      transition: background 0.2s ease-in-out;
      padding: 20px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px; 
    }
    .post-title{
      line-height: 1.2;
      margin-bottom: 5px;
    }
    .wp-image-vue, .image{
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
} 
</style>